.img {
  width: 250px;
  height: 375px;
}
.container {
  margin: 10px;
}

.description {
  margin: 0 0 0 15px;
}
.additionInfo {
  padding: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid grey;
}

.card {
  display: flex;
}
